{{#if noRoute}}
<div style="text-align: center; margin: 30px 0;">
    <div>
        <a href="/">
            <img style="max-width: 90%;" src="https://images-na.ssl-images-amazon.com/images/G/01/error/title._TTD_.png" alt="Sorry! We couldn't find that page. Try searching or go to Amazon's home page.">
        </a>
    </div>

    <a href="/">
        <img id="d" alt="Dogs of Amazon" src="https://images-na.ssl-images-amazon.com/images/G/01/error/14._TTD_.jpg">
    </a>
</div>
{{/if}} {{#if reviewer}}{{reviewer}} {{/if}} {{!-- <span class="align-middle"><h2>{{message}}</h2></span>
<span><h1 class="align-middle">{{error.status}}</h1></span>
<pre>{{error.stack}}</pre> --}}