{{!-- footer page --}}
<footer class="page-footer font-small mdb-color pt-4  bg-dark text-white">

    <div class="container text-center text-md-left">

        <div class="row text-center text-md-left mt-3 pb-3">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Introduction: </h6>
                <p>This is an Amazon clone project. Inspired by the World's Biggest E-commerce site, Amazon.com. This is a
                    project for Geogria Tech Coding Camp Coursework. The copyright of product images used in this
                    project is owned by Amazon.com</p>
            </div>

            <hr class="w-100 clearfix d-md-none">
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Members</h6>

                <p>
                    <a href="https://github.com/sandy8111112004">Ming Shiuan Tsai</a>
                </p>
                <p>
                    <a href="https://github.com/tnguyen303">Tri Nguyen</a>
                </p>
                <p>
                    <a href="https://github.com/kmaryam27">Maryam Keshavarz</a>
                </p>
                <p>
                    <a href="https://github.com/moz5691">Chan Ho Ahn</a>
                </p>
            </div>

            <hr class="w-100 clearfix d-md-none">
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Instuctors</h6>
                <p>
                    <a href="https://github.com/hannahpatellis">Hannah Patellis</a>
                </p>
                <p>
                    <a href="https://github.com/CjJordan">Cj Jordan</a>
                </p>
                <p>
                    <a href="https://github.com/asalmeron3">Arturo R Salmeron</a>
                </p>
            </div>

            <hr class="w-100 clearfix d-md-none">
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold"></h6>
                <p><i class="fa fa-home mr-3">Github </i></p> <a href="https://github.com/moz5691/amazon_clone">https://github.com/moz5691/amazon_clone</a>
                <hr>
                <p><i class="fa fa-at mr-3">Heroku</i></p>
                <a href="https://amazon--hubblepuff.herokuapp.com/">https://amazon--hubblepuff.herokuapp.com/
                </a>

            </div>

        </div>

        <hr>
        <div class="row d-flex align-items-center">
            <div class="col-md-7 col-lg-8">
                <p class="text-center text-md-left">© 2018 Copyright:
                    <strong>Ming Shiuan Tsai, Maryam Keshavarz, Tri Nguyen, Chan Ho Ahn</strong>
                    </a>
                </p>

            </div>
        </div>
</footer>